In [2]:
import __future__
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

Statis = pd.read_csv('Features.csv')

In [3]:
Statis.head(10)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False

In [4]:
Statis.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

In [5]:
# Calculate the mean for Temperature columns:

Statis['Temperature'].mean()

np.float64(59.356197802197805)

In [6]:
# Calculate the median for Temperature column:

Statis['Temperature'].median()

np.float64(60.71)

In [7]:
# Calculate the mode for Temperature column:

Statis['Temperature'].mode()

0    50.43
1    70.28
Name: Temperature, dtype: float64

In [8]:
# Calculate the mean, median, and mode for Fuel_Price columns:

print("Mean: ", Statis['Fuel_Price'].mean())
print("Median: ", Statis['Fuel_Price'].median())
print("Mode: ", Statis['Fuel_Price'].mode())

Mean:  3.405991819291819
Median:  3.513
Mode:  0    3.417
1    3.638
Name: Fuel_Price, dtype: float64

In [9]:
# Calculate the mean, median, and mode for CPI columns:

print("Mean: ", Statis['CPI'].mean())
print("Median: ", Statis['CPI'].median())
print("Mode: ", Statis['CPI'].mode())

Mean:  172.46080918276135
Median:  182.7640032
Mode:  0    132.716097
Name: CPI, dtype: float64

In [10]:

# Calculate the mean, median, and mode for Unemployment columns:

print("Mean: ", Statis['Unemployment'].mean())
print("Median: ", Statis['Unemployment'].median())
print("Mode: ", Statis['Unemployment'].mode())

Mean:  7.8268210387902695
Median:  7.806
Mode:  0    8.099
Name: Unemployment, dtype: float64

In [24]:
# Calculate the range (max - min) of each numerical column

print("The range of each numerical column ",Statis['Store'].max() - Statis['Store'].min())

The range of each numerical column  44

In [22]:
print(Statis['Temperature'].max() - Statis['Temperature'].min())

109.24000000000001

In [13]:
Statis['Fuel_Price'].max() - Statis['Fuel_Price'].min()

np.float64(1.996)

In [14]:
Statis['MarkDown1'].max() - Statis['MarkDown1'].min()

np.float64(105966.43)

In [15]:
Statis['MarkDown2'].max() - Statis['MarkDown2'].min()

np.float64(104785.29999999999)

In [16]:
Statis['MarkDown3'].max() - Statis['MarkDown3'].min()

np.float64(149662.57)

In [17]:
Statis['MarkDown4'].max() - Statis['MarkDown4'].min()

np.float64(67474.63)

In [18]:
Statis['MarkDown5'].max() - Statis['MarkDown5'].min()

np.float64(771633.27)

In [19]:
Statis['CPI'].max() - Statis['CPI'].min()

np.float64(102.9124563)

In [20]:
Statis['Unemployment'].max() - Statis['Unemployment'].min()

np.float64(10.629000000000001)

In [26]:
Statis.select_dtypes(include=[np.number]).skew()

Store            0.000000
Temperature     -0.283384
Fuel_Price      -0.305063
MarkDown1        4.016436
MarkDown2        4.962258
MarkDown3        8.133806
MarkDown4        4.864485
MarkDown5       50.277824
CPI              0.067668
Unemployment     1.067685
dtype: float64